<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>
  <appSettings>
    <add key="VirtualPath" value="//WIN7-/Back up from Roshu PC/"/>
    <add key="ApplicationPath" value="http://lenovo-pc/Moogle/"/>
    <add key="XMLFilePath" value="~\XML\dirinfo.xml"/>
    <add key="IndexDirPath" value="~/App_Data/index"/>
  </appSettings>
</configuration>
